@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #FFBF00; /* Set a background color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 5px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;
}

:root {
    --body-color: #E4E9E7;
    --nav-color: #4070F4;
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}

body {
    height: 100vh;
    background-color: var(--body-color);
}

body.dark {
    --body-color: #18191A;
    --nav-color: #242526;
    --side-nav: #242526;
    --text-color: #ccc;
    --search-bar: #242526;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: var(--nav-color);
    z-index: 100;
}

body.dark nav {
    border: 1px solid #393838;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
}

.nav-links li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before {
    opacity: 1;
}

.nav-bar .darkLight {
    display: flex;
    align-items: center;
}

.darkLight .dark-light {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.dark-light i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-light i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.sun {
    opacity: 0;
    pointer-events: none;
}

.dark-light i.moon {
    opacity: 1;
    pointer-events: auto;
}

.dark-light.active i.moon {
    opacity: 0;
    pointer-events: none;
}

/* Home Content Section */
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content h1 {
    font-size: 40px;
    color: #333;
}

body.dark .content h1 {
    color: #ccc;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background: var(--nav-color);
    text-align: center;
    padding: 40px 20px;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 20px; 
}

.about-content h1 {
    font-size: 50px;
    color: var(--text-color);
    margin-bottom: 50px;
}

.about-content p {
    font-size: 19px;
    color: var(--text-color);
    line-height: 1.9;
    text-align: justify;
}

/*Service*/
#service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 75vh;
    background: var(--body-color);
    text-align: center;
    padding: 20px;
}

.service-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.service-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}
.card {
    max-width: 250px;
    text-align: center;
}
.card img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 15px;
}
.card-number {
    background: #6C63FF;
    color: white;
    font-size: 14px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
}
.card h2 {
    font-size: 18px;
    color: #6C63FF;
}


#contact{
    align-items: center;
    display:flex;
    align-items: center;
    background: var(--nav-color);
    justify-content: center;
    height: 25vh;
}

.contact-content h1{
    font-size: 30px;
    color: var(--text-color);
    margin: 0 0 15px;
    text-align: center;
}
.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contact-details a{
    text-decoration: none;
    color: var(--text-color);
}

.contact-details i{
    color: var(--text-color);
    font-size: 15px;
}


footer{
    display:flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background:var(--nav-color);
    height: 5vh;
}
/*MEDIA*/
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }

    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
        margin-top: 20px;
    }

    .content{
        flex-direction: column;
        padding: 40px 20px;
        height: auto;
        margin-top: 300px;
    }

    .content h1{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .service-cards {
        flex-direction: column;
        align-items: center;
    }

    #service{
        height: auto;
    }
}